.form {
    margin: 1em 0 2em 0;
}

.form-legend {
    padding: 0.2em;
}

.form-input {
    width: 15em;
    height: 1.5em;
    margin: 0.2em;
}

.form-input--name {
    margin-left: 4.95em;
}

.form-input--surname {
    margin-left: 1.1em;
}

.form-input--email {
    margin-left: 3.55em;
}

.form-checkbox {
    margin: 0.2em 1em 0.2em 1em;
}

.form-radio {
    margin: 0.2em 1em 0.2em 1em;
}

.button {
    padding: 0.5em;
    margin: 0.2em;
    min-width: 6em;
    text-align: center;
    font-weight: bolder;
}