body {
    margin: 0;
    padding: 0;
    width: 1000px;
    min-height: 90vh;
    padding-bottom: 10vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font: 21px sans-serif;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 1);
    background-image: url("../res/background.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
}

.core_header {
    width: inherit;
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    background-color: rgba(129, 109, 211, 0.3);
    color:  rgba(215, 118, 44, 0.8);
    text-shadow: 0.05em 0.05em rgba(0, 0, 0, 1), 0.05em 0.05em rgba(123, 92, 57, 0.8);
    transition: text-shadow 1s;
}

.core_header:hover {
    text-shadow: -0.05em -0.05em rgba(0, 0, 0, 1), 0.2em 0.15em rgba(123, 92, 57, 0.8);
}

.core_footer {
    position: absolute;
    text-align: center;
    width: inherit;
    bottom: 0;
    margin-bottom: 0.5em;
    background-color: rgba(129, 109, 211, 0.3);
}

.main-nav {
   width: 100%;
   height: 1.7em;
   text-align: center center;
   background-color: rgba(129, 172, 211, 0.3);
}

.main-nav_list {
    list-style: none;
    text-align: center;
}

.main-nav_list--item {
    display: inline;
    padding: 1em;
}

.main-nav_list--link {
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    opacity: 0.8;
    transition: all 0.5s;
}

.main-nav_list--link:hover {
    color: rgba(255, 15, 0, 0.8);
    opacity: 1;
}